<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tw.mapper.QualificationMapper">
    <resultMap id="qualificationMap" type="com.tw.domain.Qualification">
        <id property="id" column="qualificationId"/>
        <result property="createdAt" column="qualificationCreatedAt"/>
        <result property="score" column="qualificationScore"/>
        <result property="userId" column="qualificationUserId"/>
        <association property="capability" resultMap="com.tw.mapper.CapabilityMapper.capabilityMap"/>
    </resultMap>
    <insert id="save" keyProperty="map.id">
        INSERT INTO qualifications (user_id, capability_id, score) values (#{userId}, #{map.capability_id}, #{map.score})
    </insert>
    <sql id="qualificationProps">
        q.created_at as qualificationCreatedAt,
        q.id as qualificationId,
        q.user_id as qualificationUserId,
        q.score as qualificationScore
    </sql>
    <sql id="qualificationSql">
        SELECT
          <include refid="qualificationProps"/>,
          <include refid="com.tw.mapper.CapabilityMapper.capabilityProps"/>,
          <include refid="com.tw.mapper.CapabilityMapper.solutionProps"/>,
          <include refid="com.tw.mapper.CapabilityMapper.stackProps"/>,
          <include refid="com.tw.mapper.CapabilityMapper.serviceProps"/>
        from qualifications q
          LEFT JOIN capabilities c ON q.capability_id = c.id
          LEFT JOIN solutions so ON c.solution_id = so.id
          LEFT JOIN stacks st ON c.stack_id = st.id
          LEFT JOIN stack_services ss ON ss.stack_id = st.id
          LEFT JOIN services se ON se.id = ss.service_id
    </sql>
    <select id="findQualificationsBelongedToUser" resultMap="qualificationMap">
        <include refid="qualificationSql"/>
        WHERE q.user_id = #{userId}
    </select>
    <select id="findQualificationsBelongToUserOfProject" resultMap="qualificationMap">
        <include refid="qualificationSql"/>
        WHERE q.user_id = #{userId} and c.project_id = #{projectId}
    </select>
</mapper>