<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tw.mapper.ServiceMapper">
    <insert id="save" keyProperty="map.id">
        INSERT INTO services (name, image_url) values (#{map.name}, #{map.imageUrl})
    </insert>
    <select id="findServicesForProject" resultType="com.tw.domain.Service">
      SELECT se.id as id, se.name as name, se.image_url as imageUrl from projects pro
        JOIN capabilities ca on ca.project_id = pro.project_id
        JOIN stacks st on st.id = ca.stack_id
        JOIN stack_services ss on st.id = ss.stack_id
        JOIN services se on se.id = ss.service_id
        where pro.project_id = #{id}
    </select>
</mapper>